input{
    display: none;
}
label[for="red"]{
    cursor: pointer;
    color: red;
    text-decoration: underline red;
    margin-right: 40px;
}
label[for="green"]{
    cursor: pointer;
    color: green;
    text-decoration: underline green;
    margin-right: 40px;
}
label[for="blue"]{
    cursor: pointer;
    color: blue;
    text-decoration: underline blue;
    margin-right: 40px;
}
span[class="red"]{
    font-weight: bold;
    color: white;
    padding: 3px;
    margin: 10px;
    line-height: 18px;
    border-radius: 8px;
    background-color: red;
}
span[class="green"]{
    font-weight: bold;
    color: white;
    padding: 3px;
    margin: 10px;
    line-height: 18px;
    border-radius: 8px;
    background-color: green;
}
span[class="blue"]{
    font-weight: bold;
    color: white;
    padding: 3px;
    margin: 10px;
    line-height: 18px;
    border-radius: 8px;
    background-color: blue;
}
#red:checked~label[for="red"]{
    color: #FFB3B2;
    text-decoration: underline #FFB3B2;
}
#green:checked~label[for="green"]{
    color: #D3E9D3;
    text-decoration: underline #D3E9D3;
}
#blue:checked~label[for="blue"]{
    color: #B3B1FF;
    text-decoration: underline #B3B1FF;
}
#red:checked~.red{
    display: none;
}
#green:checked~.green{
    display: none;
}
#blue:checked~.blue{
    display: none;
}